.sidebar {
    background-color: #083808;
    height: 100vh;
    padding: 70px 25px 0;
    position: fixed;
    min-width: 250px;
    top: 0;
    right: 0;
    transition: all 2.s;
    width: 250px;
    z-index: 1;
    display: none;
}

.sidebar-button {
    height: 40px;
    width: 206px;
    margin: 0 8px;
    font-size: 16px;
    border-style: solid;
    border-radius: 5px;
    border-color: #263238;
    background-color: #FFFFFF;
    margin: 4px;
}

.initials-sidebar {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 15px;
    border-radius: 50%;
    background-color: #ffffff;
    text-align: center;
    margin-bottom: 15px;
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
}

.hamburger-menu-button {
    color: #FFFFFF;
}

.hamburger-menu-button :hover {
    color: #263238;
}

.sidebar-button:hover {
    background-color: #267d26;
}

@media screen and (min-width:838px) {
    .hamburger-menu-button {
        visibility: hidden;
    }
}

@media screen and (max-width:838px) {
    .button-logout,
    .button-header,
    .initials,
    .name {
        display: none;
    }
}