/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

/* App */
* {
    font-family: Poppins;
}

/* Responsividade: desktop, tablet e mobile */

/* Body */
/* Rever */
body {
    margin: 0;
    background-color: #FFFBE2;
    height: 100%;
}
