.hamburger-menu-button {
    cursor: pointer;
}

.hamburger-menu-button:hover {
    color: #F3F1ED;
}

.header {
    width: 100%;
    height: 80px;
    background-color: #1B571B;
    color: #263238;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2
}

.header-left {
    float: left;
    margin-left: 40px;
    margin-top: 5px;
    position: fixed;
}

.header-right {
    float: right;
    display: flex;
    margin-top: 25px;
    margin-bottom: 8px;
    margin-right: 40px;
}

/* Confirmar cor com PO */
.button-header:hover {
    background-color: #04aa6d;
    cursor: pointer;
    color: #FFFFFF;
}

.header-logo {
    height: 75px;
    width: 75px;
    margin-right: 5px;
}

.header-logo-components a{
    display: flex;
}

.logo-text {
    color: white;
    margin-bottom: 0px;
    margin-top: 1px;
}


.logo-text-description {
    color: white; 
    margin-top: 1px;
    margin-left: 5px;
    font-size: 10px;
}

.button-header {
    height: 40px;
    width: 206px;
    margin: 0 8px;
    font-size: 16px;
    border-style: solid;
    border-radius: 5px;
    border-color: #263238;
    background-color: #FFFFFF;
}

.initials {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #FFFFFF;
    margin: -15px;
}

.initials h3 {
    margin: 12px;
}

.name {
    margin-right: 10px;
    margin-left: 30px;
    margin-top: -20px;
}

.button-logout {
    height: 30px;
    width: 30px;
    margin-right: 10px;
    margin-top: -20px;
    font-size: 16px;
    border-style: solid;
    border-radius: 5px;
    border: none;
    background-color: #FBC02D;
}

.button-logout:hover {
    background-color: #F3F1ED;
}

.sidebar {
    background-color: #B58B00;
    height: 100vh;
    padding: 70px 25px 0;
    position: fixed;
    min-width: 250px;
    top: 0;
    right: 0;
    transition: all 2.s;
    width: 250px;
    z-index: 1;
    display: none;
}

.sidebar::after {
    cursor: pointer;
    background-color: transparent;
    color: white;
    font-family: Arial Black, Arial, sans-serif;
    position: absolute;
    top: 10px;
    right: 10px;
}

.sidebar-button { 
    height: 40px;
    width: 206px;
    margin: 0 8px;
    font-size: 16px;
    border-style: solid;
    border-radius: 5px;
    border-color: #263238;
    background-color: #FFFFFF;
    margin: 4px;
}

.sidebar-button:hover {
    background-color: #263238;
}

.sidebar-close-button {
    border-style: none;
    cursor: pointer;
    background-color: transparent;
}

.sidebar--open {
    background-color: black;
    transition: all 0.5s;
    transform: translateX(0);
}

.sidebar--close {
    transition: all 0.5s;
    transform: translateX(-250px);
}

@media screen and (min-width:838px) {
    .hamburger-menu-button {
        visibility: hidden;
    }
}

@media screen and (max-width:838px) {

    a.header-right-signup,
    a.header-right-signin {
        display: none;
    }
}