.form-register {
    color:#263238;
    margin: 158px 364px 128px;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* background-image: url('cancel.png');
    background-position: right 10px; 
    background-repeat: no-repeat;
    background-size: 25px; */
}

.form-register h1 {
    text-align: center;
    margin-bottom: 16px;
}

.div-input-inline {
    column-count: 2;
    column-gap: 6px;
}

.input-firstname {
    width: 218px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #F3F1ED;
    margin: 10px 0;
    display: block;
    padding-left: 5px;
}

.input-lastname {
    width: 218px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #F3F1ED;
    margin: 10px 0;
    display: block;
    padding-left: 5px;
}

.input-block {
    width: 448px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #F3F1ED;
    margin: 10px 0;
    display: block;
    padding-left: 10px;
}

.div-button-register {
    text-align: center;
}

.button-register {
    width: 206px;
    height: 40px;
    border:none;
    background-color: #FBC02D;
    margin-top: 51px;
    margin-bottom: 18px;
    text-align: center;
    border-radius: 5px;
}

.button-register:hover {
    background-color: #F3F1ED;
}

.message-register {
    text-align: center;
}



